html {
    font: sans-serif;
    height: 100%;
    width: 100%;
}

body {
    font: sans-serif;
    background-color: rgb(29,161,242);
    border: 40px solid rgb(29,161,242);
    
}

#create-activity-form, #activity-list, #timerButtons, #notes-form, #submit, .notes, #n, #mn, #activity-recommendation, #suggest, #activity_recommendation_container {
    font: sans-serif;
}

#timer {
    font: sans-serif;
    background-color: white;
    color: black;
    display:table;
    padding: 15px;
}

#main-content {
    font: sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
}

