html {
    font: sans-serif;
    height: 100%;
    width: 100%;
}

body {
    font: sans-serif;
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(grey, purple);
}

#timer {
    font: sans-serif;
    background-color: blueviolet;
    color: white;
    display:table;
    padding: 15px;
}

button {
    font: sans-serif;
    font-size: 13px;
}